.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__img {
  padding: 0 4rem;
}

.list__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 6rem;
  padding: 0 6rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: var(--original-font);
}

.main__banner {
  padding: 3rem 3rem;
  height: 450px;
  background-color: var(--blackberry-clr);
}

.main__banner-title {
  text-align: center;
  color: var(--off-white);
}

.ougiflip__design {
  font-family: var(--original-font);
  font-size: 400;
}
