header {
  position: fixed;
  background-color: var(--white);
}

.navbar {
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 6rem;
  padding: 1rem 1rem;
}

.links__item {
  font-size: 1.5rem;
  font-family: var(--menu-font);
  text-shadow: var(--text-shadow);
}

/* MENU HAMBURGUER CSS */

.toggle__btn {
  cursor: pointer;
  display: none;
}

/* DROPDOWN MENU*/
.dropdown__menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 100px;
  width: 300px;
  height: 0;
  background: #49b7544c;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown__menu.open {
  height: inherit;
  padding: 1.5rem;
}

.dropdown__menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: var(--main-font);
  color: var(--white);
  font-size: 1.2rem;
  text-shadow: var(--text-shadow);
}

@media screen and (max-width: 1200px) {
  header {
    position: relative;
  }

  .links__container {
    display: none;
  }

  .toggle__btn {
    display: block;
  }

  .dropdown__menu {
    display: block;
    left: 2rem;
    width: unset;
  }

  .dropdown__link {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--menu-font);
  }

  .bx {
    font-size: 36px;
  }
}

@media screen and (max-width: 576px) {
  header {
    padding: 0;
  }
  .navbar {
    padding: 1rem 1rem;
  }

  .dropdown__menu {
    left: 2rem;
    width: unset;
  }
}
