.hero__banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem 3rem;
  padding: 4rem;
  max-height: calc(100vh - 100px);
  border: 1px solid black;
}

.container__mkt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
  border: 1px solid black;
}

.title {
  font-family: var(--original-font);
  font-size: 3rem;
  text-shadow: var(--text-shadow);
  font-weight: 400;
}

.title__font-change {
  font-size: 2rem;
  font-family: var(--soft-font);
}

.paragraph {
  font-size: 2rem;
  text-align: left;
  letter-spacing: 4px;
  font-family: var(--handwt-font);
  text-shadow: var(--text-shadow);
}

.hero__banner-img {
  max-width: 700px;
  border-radius: 40px;
}

@media screen and (max-width: 1200px) {
  .hero__banner-container {
    max-width: 900px;
  }

  .container__mkt {
    width: fit-content;
  }
}
